<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射命名空间，persistence-->
<mapper namespace="cn.rayest.mybatis02.persistence.GradePersistence">
	<resultMap id="GradeResult" type="Grade">
		<result property="id" column="id" />
		<result property="gradeName" column="gradeName" />
		<collection property="students" column="id" select="cn.rayest.mybatis02.persistence.StudentPersistence.findByGradeId"></collection>
	</resultMap>

	<select id="findById" parameterType="Integer" resultMap="GradeResult">
		SELECT * FROM t_grade WHERE id=#{id}
	</select>

</mapper>