<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace, 映射命名空间，作用就是对 sql 进行分类化管理，persistence-->
<mapper namespace="cn.rayest.persistence.StudentPersistence">

    <!-- 自定义查询结果集合
        <resultMap type="Address" id="AddressResult">
            <result property="id" column="id"/>
            <result property="province" column="province"/>
            <result property="city" column="city"/>
            <result property="district" column="district"/>
        </resultMap>

        <resultMap type="Student" id="StudentResult">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="age" column="age"/>
            <association property="address" resultMap="AddressResult"/>
        </resultMap>
    -->

    <resultMap type="Student" id="StudentResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <association property="address" column="addressId"
                     select="cn.rayest.persistence.AddressPersistence.findById"></association>
        <association property="grade" column="gradeId"
                     select="cn.rayest.persistence.GradePersistence.findById"></association>
    </resultMap>

    <select id="findStudentWithAddress" resultMap="StudentResult" parameterType="Integer">
		SELECT * from t_student t1, t_address t2 WHERE t1.addressId=t2.id and t1.id=#{id}
	</select>

    <select id="findByGradeId" resultMap="StudentResult" parameterType="Integer">
		SELECT * FROM t_student WHERE gradeId=#{gradeId}
	</select>

    <insert id="add" parameterType="Student">
        /* 1. 使用 uuid() 获取主键，将主键设置到 student 对象的 id 属性中
        2. 在执行 insert 时，从 user 对象中取出 id 属性值
        */
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
            SELECT uuid()
        </selectKey>
        insert into t_student(id, name, age) values(#{id}, #{name}, #{age})
    </insert>

    <update id="update" parameterType="Student">
		UPDATE t_student SET name=#{name}, age=#{age} WHERE id=#{id}
	</update>

    <!-- 删除学生 -->
    <delete id="delete" parameterType="Integer">
		DELETE FROM t_student WHERE id=#{id}
    </delete>

    <!-- 通过 id 查找学生 -->
    <select id="findById" parameterType="Integer" resultType="Student">
		SELECT * from t_student WHERE id=#{id}
	</select>

    <select id="find" resultMap="StudentResult">
		SELECT * FROM t_student
	</select>


</mapper>